# ----------------------------
# Python
# ----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ----------------------------
# Virtual Environment
# ----------------------------
venv/
env/
.venv/

# ----------------------------
# Git
# ----------------------------
.git/
.gitignore

# ----------------------------
# VS Code
# ----------------------------
.vscode/

# ----------------------------
# Logs
# ----------------------------
logs/
*.log

# ----------------------------
# Cache
# ----------------------------
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/

# ----------------------------
# Build Files
# ----------------------------
build/
dist/
*.egg-info/
*.whl

# ----------------------------
# Training Artifacts
# ----------------------------
Artifacts/
prediction_output/

# ----------------------------
# Jupyter Notebooks
# ----------------------------
notebooks/

# ----------------------------
# Environment Variables
# ----------------------------
.env

# ----------------------------
# Operating System Files
# ----------------------------
.DS_Store
Thumbs.db